Package: octaweston
Version: 14.0.0-1
Architecture: amd64
Maintainer: Yohanes Oktanio <yohanesoktayt72@gmail.com>
Installed-Size: 2062
Depends: libc6 (>= 2.34)
Section: graphics
Priority: optional
Description: Weston compositor optimized for WSL Android Emulator
 Minimal Weston build with RDP backend for Android emulator usage.
